@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
/** {
    border: 1px solid red;
}*/
body {
    margin: 15rem 10rem;
}
img {
    width: 40%;
    border-radius: 1rem;
}
 .country-and-zip-code {
    display: flex;
    justify-content: space-between;
}
main {
    display: flex;
    justify-content: space-around;
}
.itemBox {
    height: fit-content;
    width: 25rem;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    background: rgb(220,220,220);
}
.item {
    padding: 2rem 2rem 0 2rem;
    display: flex;
    justify-content: space-around;
}
.item-info {
}
.orange {
    color: rgb(242, 153, 74);
}
.priceSec {
    padding: 2rem 2rem 0 2rem;
}
.price {
    display: flex;
    justify-content: space-between;
}
.quantity {
    text-align: center;
}
.quantity > input {
    width: 4rem;
    border-radius: 1rem;
    text-align: center;
    
}
.plus, .minus {
    cursor: pointer;
}