@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
/** {
    border: 1px solid red;
}*/
body {
    font-family: 'Montserrat', sans-serif;
    margin: 5rem 15rem;
}
img {
    width: 9rem;
    height: 9rem;
    padding: 0.5rem;
    border-radius: 2rem;
}
.country-and-zip-code {
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: space-between;
}
main {
    display: flex;
    justify-content: space-between;
}
.material-icons {
    margin: 0.5rem;
    color: rgb(160,160,160);
}
label {
    color: rgb(100,100,100);
}
.input-icon {
    border-radius: 0.5rem;
    border: 1px solid rgb(100,100,100);
    display: flex;
    justify-content: flex-start;
    align-items: center;

}
.input-icon > input {
    width: 90%;
    height: 3rem;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    outline: none;
    border: 1px solid rgb(255, 255, 255)
}
#checkbox {
    width: 1.2rem;
    height: 1.2rem;
    vertical-align: middle;
}
.submitBtn {
    width: 10rem;
    height: 3.5rem;
    float: right;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    border: 1px solid rgb(242, 153, 74);
    border-radius: 0.5rem;
    color: rgb(255, 255, 255);
    background: rgb(242, 153, 74);
}
.itemBox {
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    background: rgb(240,240,240);
}
.item {
    height: fit-content;
    padding: 2rem 2rem 0 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.item-info {
    width: fit-content;
}
strong {
    font-size: 1.3rem;
}
.itemNum {
    font-weight: bold;
}
.orange {
    color: rgb(242, 153, 74);
}
.priceSec {
    font-size: 1.2rem;
    padding: 2rem;
    line-height: 2rem;
}
.price {
    display: flex;
    justify-content: space-between;
}
.quantity {
    padding: 1rem;
    text-align: center;
    border: 1px solid rgb(160,160,160);
    border-radius: 1rem;
}
.quantity > input {
    width: 2rem;
    border: 1px solid rgb(240, 240, 240);
    text-align: center;
}
.itemBtn {
    cursor: pointer;
    background: rgb(220, 220, 220);
    border: 1px solid rgb(220, 220, 220);
    border-radius: 0.5rem;
}
.plus, .minus {
    cursor: pointer;
}
footer > p {
    color: rgb(100,100,100);
    text-align: center;
}
footer > p > a {
    text-decoration: none;
}
@media screen and (max-width:1440px) {
    body {
        margin: 5rem 10rem;
    }
}
@media screen and (max-width:1024px) {
    body {
        margin: 3rem 4rem;
    }
}
@media screen and (max-width:768px) {
    body {
        margin: 2rem 1rem;
    }
    img {
        padding: none;
    }
    main {
        flex-direction: column-reverse;
    }
}
@media screen and (max-width:375px) {
    body {
        margin: 1rem 1rem;
    }
    .item-info > p {
        font-size: 0.1rem;
    }
}
